@import '~antd/dist/antd.css';
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap');

body {
  font-family: 'Quicksand', sans-serif;
}

.auth-form {
  width: 30%;
  margin: 8rem auto;
  position: relative;
}

.caption-form{
  text-align: center;
}
.img-content{
  width: 500px;
  height: 500px;
  background-size: cover;
  background-image: url(http://localhost:3000/static/media/lady-employee-doing-video-meeting-2194238.0a7166f….png);
}
