@import '~antd/dist/antd.css';
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap');

body {
  font-family: 'Quicksand', sans-serif;
}

.auth-form {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 8rem;
}

.caption-form{
  text-align: center;
}
.img-content{
  width: 500px;
  height: 500px;
  background-size: cover;
  background-image: url(./images/lady-employee-doing-video-meeting-2194238.png);
}
