
.site-page-header{
  position: fixed;
  justify-content: space-between;
  display: flex;
  top: 0;
  right: 0;
  width: 100%;
  z-index: 100;
  background-color: rgba(212, 193, 22, 0.795);
  box-shadow: 4px 4px 30px -9px rgba(19, 21, 22, 0.2);
}

.navigation > *{
  padding: 1rem;
  color: ;
}