.wrapper-news-list{
  /* padding: 5rem; */
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  width: 90%;
  margin: 8rem auto 0 auto;
  min-height: calc(100vh - 8rem - 60px);
}

.example {
  top: 50%;
  left: 50%;
  margin-right: -50%;
  display: block;
  margin: 20px 0;
  margin-bottom: 20px;
  padding: 150px 200px;
  text-align: center;
  border-radius: 15px;

}