.site-page-header {
  position: fixed;
  justify-content: space-between;
  display: flex;
  top: 0;
  right: 0;
  width: 100%;
  z-index: 100;
  background-color: rgba(212, 193, 22, 0.795);
  box-shadow: 4px 4px 30px -9px rgba(19, 21, 22, 0.2);
}

.navigation {
  display: none;
  align-items: center;
}

.navigation a {
  padding: 0 1.3rem;
  color: black;
  font-weight: bold;
}

.btn-logout {
  font-weight: 300;
  color: lightslategrey;
}

.ant-page-header-heading-title .logo {
  cursor: pointer;
  font-family: 'Quicksand', sans-serif;
}

.ant-page-header-heading-title .anticon-menu {
  margin-right: 1rem;
}

.mobile-navigation{
  display: none;
}

.mobile-navigation.active {
  top: 72px;
  position: fixed;
  background-color: rgb(0 0 0 / 77%);
  display: flex;
  flex-direction: column;
  left: 0;
  height: 100%;
  z-index: 100;
  justify-content: center;
}

.mobile-navigation.active a {
  line-height: 2rem;
  color: white;
  margin-left: 1rem;
  font-size: 1.5rem;
}

.mobile-navigation.active .ant-badge{
  width: max-content;
}

.mobile-navigation.active .anticon-close-circle {
  font-size: 2rem;
  color: white;
  position: absolute;
  right: 0;
  top: 0;
  margin: 0.5rem;
}

@media (min-width: 767px) {
  .ant-page-header-heading-title .anticon-menu {
    display: none;
  }
  .navigation {
    display: flex;
  }
}